@import "tailwindcss";

@theme {
  --color-ateneo: #003268;
  --color-special-red: #e3132c;
  --color-cochineal: #9b1631;
}

::selection {
  background-color: var(--color-ateneo);
  color: white;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #001d3d;
}

html {
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-ateneo);
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-cochineal);
}
