@import "tailwindcss";

@theme {
  --color-ateneo: #003268;
  --color-special-red: #E3132C;
  --color-cochineal: #9B1631;
}

::selection {
  background-color: var(--color-ateneo);
  color: white;
}

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #003268;
}

html {
  scroll-behavior: smooth;
}