@import "tailwindcss";

@theme {
  --color-ateneo: #003268;
  --color-cochineal: #9b1631;
  --color-bg-main: #002244;
}

@variant dark (&:where(.dark, .dark *));

::selection {
  background-color: var(--color-ateneo);
  color: white;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--color-bg-main);
  transition: background-color 500ms ease;
}

.dark {
  --color-bg-main: #001529;
}

html {
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-ateneo);
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-cochineal);
}
